body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #2c2c3e;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    background-color: #ff9f1c;
}

.equal {
    background-color: #2a9d8f;
    color: white;
}

.clear {
    background-color: #e63946;
    color: white;
}
.back-btn {
    margin-bottom: 10px;
    padding: 8px 15px;
    background-color: #457b9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete {
    background-color: #6c757d;
    color: white;
}
.zero {
    grid-column: span 2;   /* makes 0 button wider */
    text-align: center;
}
